<section class="page-section" id="{{ site.data.features.section | default: features }}">
  <div class="container">
        <div class="row justify-content-center pb-4 pt-3">
            <div class="col col-lg-12 text-center">
              <h1 class="section-title text-uppercase">{{site.data.features.features.title}}</h1>
            </div>
        </div>
      
        <div class="row justify-content-center">
            <div class="col col-lg-2 text-center">
              <img src={{site.data.features.features.feature1.image}} width=100% alt="Data organization"/>
            </div>

            <div class="col-lg-6 text-justify">
              <h2 class="section-heading text-uppercase">{{ site.data.features.features.feature1.title }}</h2>
              <p>{{ site.data.features.features.feature1.content }}</p>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-6 text-justify pt-5">
              <h2 class="section-heading text-uppercase">{{ site.data.features.features.feature2.title }}</h2>
              <p>{{ site.data.features.features.feature2.content }}</p>
            </div>

            <div class="col col-lg-2">
              <img src={{site.data.features.features.feature2.image}} width=100% alt="Data organization"/>
            </div>
        </div>

        <div class="row justify-content-center pt-5 pb-5">
            <div class="col col-lg-2 text-center">
              <img src={{site.data.features.features.feature3.image}} width=100% alt="Data organization"/>
            </div>

            <div class="col-lg-6 text-justify">
              <h2 class="section-heading text-uppercase">{{ site.data.features.features.feature3.title }}</h2>
              <p>{{ site.data.features.features.feature3.content }}</p>
            </div>
        </div>
  </div>
</section>
