<div id="myModal" class="modal fade">
    <div class="toast toast-error text-center" aria-live="polite" aria-atomic="true" data-delay="3000">
        <div class="toast-body text-center">
            <h6 class="ml-auto mr-auto mt-auto mb-auto"><strong>Something went wrong. We've been notified.</strong></h6>
        </div>
    </div>

    <div class="modal-dialog modal-newsletter">
		<div class="modal-content">

            <div class="modal-header">
                <div class="icon-box">				
                    <i class="far fa-envelope-open fa-5x"></i>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span>&times;</span></button>
            </div>

            <form onsubmit="return sendForm()" method="POST" />

                <div class="modal-body text-center">
					<h4>Subscribe to our newsletter</h4>	
					<p>Join our subscribers list to get the latest news, updates and special offers delivered directly in your inbox.</p>
                    <div class="input-group">
                        <input placeholder="Enter your email" type="email" class="form-control" name="email" id="emailInput" required />
                        <input type="text" name="_honey" style="display:none">

                        <span class="input-group-append">
                            <button #subscribe type="submit" class="btn btn-primary"><i class="fas fa-chevron-right"></i></button>
                        </span>
                    </div>
                </div>

			</form>			
		</div>
    </div>

</div>

<div class="toast toast-success text-center" aria-live="polite" aria-atomic="true" data-delay="3000">
    <div class="toast-body text-center">
        <h6 class="ml-auto mr-auto mt-auto mb-auto"><strong>We will keep you updated.</strong></h6>
    </div>
</div>
