.intro {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  @include media-breakpoint-up(md) {
    padding-top: 140px;
  }
  h1 {
    color: $black;
    font-size: 42px;
    font-weight: bold;
    line-height: 1.2;
    @include media-breakpoint-up(md) {
      width: 100%;
      font-size: 48px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 50px;
    }
  }
  h2 {
    width: 100%;
    font-size: 1.2rem;
    line-height: 1.4;
    margin-bottom: 30px;
    color: $black;
    font-family: $font-family-base;
  }
  p {
    font-size: 1.2rem;
    font-weight: light;
    line-height: 1.5;
    color: $steel;
    @include media-breakpoint-up(md) {
      width: 100%;
    }
  }
}

.intro-small {
  padding-top: 100px;
  padding-bottom: 30px;
}

// Styling for the masthead
header.masthead {
  text-align: left;
  color: white;
  background-image: url("../../images/illustrations/Lighthouse.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  height: 100vh;

  .intro-text {
    padding-top: 150px;
    padding-bottom: 200px;

    .intro-lead-in {
      font-size: 28px;
      font-style: italic;
      line-height: 40px;
      margin-bottom: 25px;
    }
    .intro-heading {
      font-size: 75px;
      font-weight: 700;
      line-height: 75px;
      margin-bottom: 0px;
    }
    .intro-bullets {
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 0px;
    }
  }
  .btn-xl {
    height: 60px;
    font-size: 25px;
    font-weight: bold;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: auto;
    background-color: #22AE73;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
  }
  
}
@mixin box_shadow ($level) {

  @if $level == 1 {
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  } @else if $level == 2 {
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  } @else if $level == 3 {
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  } @else if $level == 4 {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  } @else if $level == 5 {
      box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }

}